.arrow {
    border: solid white;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 50px;
}

.arrow:hover {
    transform: rotate(45deg) scale(1.5);
}
